<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="keywords"
      content="CAF SYNC, Colégio Árvore da Felicidade,Sincronização, Feedback, Interação escola e alunos"
    />
    <meta
      name="description"
      content="CAF Sync é uma plataforma de feedback e avaliação escolar, projetada para conectar diretamente alunos e administradores, ajudando a criar um ambiente educacional mais colaborativo e adaptado às suas necessidades."
    />
    <link
      rel="shortcut icon"
      href="img/icons/favicon.png"
      type="image/x-icon"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato&family=Open+Sans:ital,wdth,wght@0,75..100,800;1,75..100,800&family=Roboto:wght@400;500;700&display=swap"
      rel="stylesheet"
    />
    <script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>
    <link rel="stylesheet" href="style.css" />
    <script src="script.js"></script>
    <title>CAF SYNC: Home Page</title>
  </head>
  <body>
    <header class="cabecalho">
      <div class="hero-image">
        <a href="#">
          <img src="img/icons/logo.png" alt="Logo da Plataforma" />
        </a>
      </div>
      <nav class="navbar">
        <ul class="nav">
          <li>
            <a id="inicio" class="links" href="index.html">Início</a>
          </li>
          <li>
            <a id="login" class="links" href="login.html">Entrar</a>
          </li>
          <li>
            <a id="cadastro" class="links" href="cadastro.html">Cadastra-se</a>
          </li>
        </ul>
      </nav>
      <div class="navbar-toggle">
        <span>
          <ion-icon name="menu" class="toggle-menu"></ion-icon>
          <ion-icon name="close" class="close-menu"></ion-icon>
        </span>
      </div>
    </header>
    
    <header class="sidebar-dropdown">
      <nav class="sidebar">
        <ul class="nav">
          <li>
            <a id="inicio" class="links" href="index.html">Início</a>
          </li>
          <li>
            <a id="login" class="links" href="login.html">Entrar</a>
          </li>
          <li>
            <a id="cadastro" class="links" href="cadastro.html">Cadastra-se</a>
          </li>
        </ul>
      </nav>
    </header>


  </body>
</html>
